{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-widget">
            <img src="../static/img/bayer-logo-0.png" alt="">
        </div>
        <div class="header-widget">
            <p>+998000000000</p>
            <p>+998000000000</p> 
        </div>
    </header>
    <nav class="navbar">
        <div class="nav-widget">
            <ul id="menu">
                <a href="{%url 'index'%}">
                    <li class="li">Главная</li>
                </a>
                <li class="li tree first_tree">О компании
                    <ul>
                        
                        <a href="{%url 'mission'%}">
                            <li>Миссия компании</li>
                        </a>
                        <a href="{%url 'plant'%}">
                            <li>О заводе</li>
                        </a>
                    </ul>
                </li>
                <a href="{%url 'news'%}">
                    <li class="li">Новости</li>
                </a>
                <li class="li tree second_tree">Продукция
                    <ul>
                        <a href="{%url 'buy'%}">
                            <li>Где купить?</li>
                        </a>
                        <a href="">
                            <li>Каталог</li>
                        </a>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <footer class="footer">
        <div class="footerimg">
            <img src="../static/img/bayer-logo-0.png" alt="">
        </div>
    </footer>



    <script src="{% static 'js/open.js' %}"></script>
</body>
</html>