{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../static/media/bayer-logo-0.png" alt="">
        </div>
        <div class="phone">
            <p>+998000000000</p>
            <p>+998000000000</p> 
        </div>
    </header>
    <nav class="navbar">
        <div class="nav-widget">
            <ul id="menu">
                <a href="">
                    <li class="li"><b>Главная</b></li>
                </a>
                <li class="li tree"><b>О компании</b>
                    <ul>
                        <a href="">
                            <li>Миссия компании</li>
                        </a>
                        <a href="">
                            <li>О заводе</li>
                        </a>
                    </ul>
                </li>
                <a href="">
                    <li class="li"><b>Новости</b></li>
                </a>
                <a href="">
                    <li class="li"><b>Продукция</b>
                        <ul>
                            <a href="">
                                <li>Где купить?</li>
                            </a>
                            <a href="">
                                <li>Каталог</li>
                            </a>
                        </ul>
                    </li>
                </a>
            </ul>
        </div>
    </nav>
    <footer class="footer">
        <div class="footerimg">
            <img src="../static/media/bayer-logo-0.png" alt="">
        </div>
    </footer>



    <script src="./js/script.js"></script>
</body>
</html>