{% extends 'base.html' %}


{% block content %}
<header class="header_parent">
    <div class="header_img"></div>
    <div class="center_img1"></div>
    <div class="center_text1">
        <h3>Продукты</h3>
        <p>Дермокосметика, БАДы, средства личной гигиены и пищевые укрепляющие натуральные продукты, начали производить в 2010 году, продукция продается во многих странах, в том числе в Азии, Европе, где глобальный авторитет строго контролирует министерство здравоохранения Турции. Завод Тимур на службе здоровья человека, для защиты здоровья и повышения качества жизни. Тимур фармацевтический завод связанный с фитотерапией и имеющей около 50 нутритерапических препаратов. Деятельность по продажам, маркетингу, управлению и производству, в которой Тимур осуществляет свою деятельность в Стамбуле, служит многим отечественным и иностранным компаниям для аутсорсинга.</p>
    </div>
    <div class="footer_img2"></div>
    <div class="footer_text2">
        <h3>Bayer Pharm</h3>
        <p>Мы - молодая фармацевтическая компания! Созданная с любовью к человеку и его здоровью! Считаем своей миссией сделать доступными для Узбекистанцев высококачественное лечение с наилучшими результатами! Применение препаратов компании показывает высокие результаты в лечении и профилактике различных заболеваний! Мы получаем многочисленные положительные отзывы от врачей и пациентов!</p>
    </div>
</header>
{% endblock %}