{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="news">
        <div class="news_text">
            <h1>НОВОСТИ</h1>
        </div>  
        <div class="row">
            {% for news in news %}
            <div class="news_card">
                <a href="{% url 'news_card' news.slug %}">
                    <img src="{{ news.image.url }}" alt="Фото выдачи препаратов в аптеке">
                    <div class="row">
                        <div class="information">
                            <h3>{{ news.title }}</h3>
                            <p>ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ</p>
                        </div>
                        <div>
                            <p>ЧИТАТЬ...</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>  
    </div>

{% endblock %}