@font-face{
    font-family: "Monserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
body{
    margin: 0;
    font-family: Monserrat;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: rgb(234, 238, 241);
}
.header-widget img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.header-widget p{
    font-size: 20px;
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: rgb(130, 167, 243);
}
.nav-widget{
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu{
    display: flex;
    position: relative;
    font-size: 22px;
}
#menu a{
    color: black;
    
}

.li{
    padding: 20px 10px;
    margin: 0 20px;
    cursor: pointer;
    transition: 300ms;
}

.li:hover{
    background-color: rgb(140, 210, 233);
    color: white;
}


.tree ul{
    display: none;
    background-color: lightblue;
    text-align: center;
    position: absolute;
    top: 3.1em;
    z-index: 999;
}

.tree ul a li{
    width: 125px;
    padding: 15px 20px;
    color:black
    transition: 300ms;
}

.tree ul a li:hover{
    background-color: rgb(117, 171, 204);
    color: white;
}


.first_tree ul{
    left: 7.9em;
}

.second_tree ul{
    left: 24.6em;
}

.second_tree ul a li{
    width: 116px;
}

.open ul{
    display: block;
}

.footer{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 11%;
    background-color: rgb(130, 167, 243);
}


.footer img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.middle{
    height: 430px;
    padding: 10px 10%;
    margin: 0;
    display: flex;
    align-items: center;
    background-image: url(../img/фон2.jpg)
    
}

.text{
    width: 50%;
    position: relative;
    top: -60px;
}

.text h2{
    padding: 40px 0;
    margin: 0 10px;
    
}

.text h1{
    padding: 20px 0;
    margin: 10px;
}

.btn-path{
    padding: 20px;
    margin: 0 10px;
    border-radius: 20px;
    background-color: rgb(140, 205, 245);
    font-size: 25px;
    font-weight: bold;
    color: black;
    transition: 300ms;
}

.btn-path:hover{
    background-color: rgb(102, 160, 246);
    color: white;
}

.animate{
    width: 50%;
    height: 400px;
    animation: preparate 5s infinite;
    border-radius: 20px 20px 20px 20px;
}  
@keyframes preparate{
        0%{
            background-image: url(../img/лекарства1.jpg);
            background-size: cover;
        }
        33%{
            background-image: url(../img/лекарства2.jpg);
            background-size: cover;  
        }
        66%{
            background-image: url(../img/лекарства3.jpg);
            background-size: cover;  
        }
        100%{
            background-image: url(../img/лекарства4.jpg);
            background-size: cover; 
        }
}

.header_parent{
    background-image: url(../img/header_parent.jpg);
    height: 1150px;
    padding: 0;
    position: relative;
}

.header_img{
    background-image: url(../img/склад.jpg);
    height: 350px;
    
}

.center_img1{
    background-image: url(../img/center_img1.jpg);
    background-size: cover;
    height: 350px;
    width: 500px;
    position: relative;
    left: 150px;
    top: 30px;
}

.center_text1{
    background-image: url(../img/header_parent.jpg);
    height: 330px;
    width: 500px;
    position: absolute;
    right: 150px;
    top: 380px;
    padding: 0 10px;
}

.center_text1 h3{
    display: flex;
    justify-content: center;
}

.footer_img2{
    background-image: url(../img/footer_img2.jpg);
    background-size: cover;
    height: 350px;
    width: 520px;
    position: absolute;
    right: 150px;
    top: 750px;
}

.footer_text2{
    background-image: url(../img/header_parent.jpg);
    height: 350px;
    width: 500px;
    position: absolute;
    left: 150px;
    top: 750px;
    padding: 0 10px;
}

.footer_text2 h3{
    display: flex;
    justify-content: center;

}

.header_parent1{
    background-image: url(../img/header_parent.jpg);
    height: 950px;
    padding: 0;
    position: relative;
}

.top_img1{
    background-image: url(../img/top_img1.jpg);
    background-size: cover;
    height: 800px;
    width: 50%;
    position: relative;
    left: 0;
    top: 0;
}

.top_img1 p{
    font-size: 25px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.top_img1 a{
    font-size: 25px;
    font-weight: bold;
    color: black;
    border-radius: 20px;
    background-color: rgb(119, 186, 238);
    padding: 20px 0;
    position: relative;
    left: 240px;
    top: 180px;
    transition: 300ms;
}

.top_img1 a:hover{
    background-color: rgb(76, 168, 239);
    color: white;
}


.top_text1{
    background-image: url(../img/header_parent.jpg);
    height: 320px;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.top_text1 p{
    padding: 10px 10px;
}

.bottom_img2{
    background-image: url(../img/bottom_img2.jpg);
    background-size: cover;
    height: 550px;
    width: 50%;
    position: absolute;
    right: 0;
    top: 350px;
}

.bottom_text2{
    background-image: url(../img/header_parent.jpg);
    height: 150px;
    width: 50%;
    position: absolute;
    left: 0;
    top: 800px;

}

.news{
    background-color: rgb(168, 83, 241);
    height: 250px;
}

.news_text{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    position: relative;
    top: 70px;
}

.parent_buy{
    background-color: rgb(62, 177, 230);
    height: 500px;
    padding: 0;
    position: relative;
}

.contacts{
    padding: 0;
    
}

.contacts p{
    font-size: 45px;
    font-weight: bold;
    color: rgb(244, 69, 69);
    position: relative;
    left: 500px;
    top: 50px;
    padding: 0;

}

.address{
    border-radius: 20px;
    background-color:rgb(131, 240, 241);
    width: 500px;
    position: relative;
    left: 470px;
    top: 60px;
}

.address p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
}



