@font-face{
    font-family: "Monserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
body{
    margin: 0;
    font-family: Monserrat;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    margin: 10px 0;
}
.header-widget img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.header-widget p{
    font-size: 20px;
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: lightblue;
}
.nav-widget{
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu{
    display: flex;
    position: relative;
    font-size: 22px;
}
#menu a{
    color: black;
}
.li{
    padding: 20px 10px;
    margin: 0 20px;
    cursor: pointer;
}
.tree ul{
    display: none;
    background-color: lightblue;
    text-align: center;
    position: absolute;
    top: 2.9em;
}
.tree ul a li{
    width: 150px;
    padding: 15px 20px;
}
.first_tree ul{
    left: 6.3em;
}
.second_tree ul{
    left: 20.8em;
}
.open ul{
    display: block;
}

.footer{
    background-color: rgb(38, 184, 184);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 10%;
}


.footer img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    object-fit: cover;
}